<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="AutoGalleryEntities" connectionString="metadata=res://*/ModelOfGallery.csdl|res://*/ModelOfGallery.ssdl|res://*/ModelOfGallery.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=AutoGallery;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoGalleryEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=AutoGallery;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoGalleryEntitiesX" connectionString="metadata=res://*/GalleryModel.csdl|res://*/GalleryModel.ssdl|res://*/GalleryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=302-01;initial catalog=AutoGallery;persist security info=True;user id=webMobile_302;password=webmobile.302;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoGalleryEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=AutoGallery;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoGalleryEntities3" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=AutoGallery;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoGalleryEntities4" connectionString="metadata=res://*/AutoGalleryModel.csdl|res://*/AutoGalleryModel.ssdl|res://*/AutoGalleryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=302-01;initial catalog=AutoGallery;persist security info=True;user id=webMobile_302;password=webmobile.302;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoGalleryEntities5" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=302-01;initial catalog=AutoGallery;persist security info=True;user id=webMobile_302;password=webmobile.302;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoGalleryEntities6" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=302-01;initial catalog=AutoGallery;persist security info=True;user id=webMobile_302;password=webmobile.302;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoGalleryEntities7" connectionString="metadata=res://*/AutoGalleryModel.csdl|res://*/AutoGalleryModel.ssdl|res://*/AutoGalleryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=AutoGallery;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoGalleryEntities8" connectionString="metadata=res://*/AutoGalleryModel.csdl|res://*/AutoGalleryModel.ssdl|res://*/AutoGalleryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=302-01;initial catalog=AutoGallery;persist security info=True;user id=webMobile_302;password=webmobile.302;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoGalleryEntities9" connectionString="metadata=&quot;res://*/AutoGallery Model.csdl|res://*/AutoGallery Model.ssdl|res://*/AutoGallery Model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=AutoGallery;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>